<div class="sc-iBaPrD ihawLr pro-sidebar">
    <div class="sc-eggNIi JiLrb">
        <div class="sc-cTkwdZ fFvlhF">
            <div class="sc-dOSReg lhXIuw">
                <div class="head-div"><span class="icon-suffix"><i class="fa fa-bars fa-large"></i></span><span
                        class="head-text"><a href="/" class="text-decoration-none"
                            style="color: inherit; font-weight: 600;">Contrast</a></span></div>
            </div>
            <div class="sc-jNMdTA ewqGCM pro-sidebar-content">
                <nav class="sc-bBrOnJ bhhAF pro-menu sidebar-content">
                    <ul class="sc-cOajty gTuotN"><a aria-current="page" class="activeClicked" firstchild="1"
                            popperarrow="0" href="/">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-columns fa side-icon"></i><span class="item-content">dashboard</span>
                                </div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/hero4">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-chalkboard-teacher fa side-icon"></i><span class="item-content">hero
                                        4</span></div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/hero5">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-chalkboard-teacher fa side-icon"></i><span class="item-content">hero
                                        5</span></div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/create-account">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sign-in-alt fa side-icon"></i><span class="item-content">create
                                        account</span></div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/forgot-password2">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sign-in-alt fa side-icon"></i><span class="item-content">forgot
                                        password 2</span></div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/signin3">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sign-in-alt fa side-icon"></i><span
                                        class="item-content">signin3</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/tables">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-table fa side-icon"></i><span class="item-content">tables</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/hero404">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-exclamation-triangle fa side-icon"></i><span class="item-content">404
                                        page</span></div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/post">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-mail-bulk fa side-icon"></i><span class="item-content">post</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/profilefree">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-id-badge fa side-icon"></i><span class="item-content">profile 2</span>
                                </div>
                            </li>
                        </a><a target="_blank" firstchild="1" popperarrow="0" href="/pricing">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-money-bill-alt fa side-icon"></i><span
                                        class="item-content">pricing</span></div>
                            </li>
                        </a></ul>
                </nav>
                <nav class="sc-bBrOnJ bhhAF pro-menu sidebar-content">
                    <ul class="sc-cOajty gTuotN"><a firstchild="1" popperarrow="0" href="/accordion">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-th-large fa side-icon"></i><span class="item-content">accordion</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/alert">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-user-clock fa side-icon"></i><span class="item-content">alert</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/animation">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><span class="item-content"><i
                                            class="fas fa-radiation fa-lg fa-spin mr-3"></i>animation</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/badge">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-certificate fa side-icon"></i><span class="item-content">badge</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/box">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-box fa side-icon"></i><span class="item-content">box</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/breadcrumb">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-route fa side-icon"></i><span class="item-content">breadcrumb</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/button">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-mouse fa side-icon"></i><span class="item-content">button</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/button-group">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-mouse fa side-icon"></i><span class="item-content">button group</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/button-toolbar">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-mouse fa side-icon"></i><span class="item-content">button
                                        toolbar</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/card">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-id-card fa side-icon"></i><span class="item-content">card</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/carousel">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sliders-h fa side-icon"></i><span class="item-content">carousel</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/chart">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-chart-bar fa side-icon"></i><span class="item-content">chart</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/collapse">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sliders-h fa side-icon"></i><span class="item-content">collapse</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/data-table">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-table fa side-icon"></i><span class="item-content">data table</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/dropdown">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-caret-down fa side-icon"></i><span
                                        class="item-content">dropdown</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/footer">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-shoe-prints fa side-icon"></i><span class="item-content">footer</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/forms">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sign-in-alt fa side-icon"></i><span class="item-content">forms</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/iframe">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-crop fa side-icon"></i><span class="item-content">iframe</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/input">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-keyboard fa side-icon"></i><span class="item-content">input</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/input-group">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-keyboard fa side-icon"></i><span class="item-content">input
                                        group</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/list-group">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-list fa side-icon"></i><span class="item-content">list group</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/mask">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-mask fa side-icon"></i><span class="item-content">mask</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/modal">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-medal fa side-icon"></i><span class="item-content">modal</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/navbar">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-directions fa side-icon"></i><span class="item-content">navbar</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/pagination">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-map fa side-icon"></i><span class="item-content">pagination</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/progress">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-spinner fa side-icon"></i><span class="item-content">progress</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/rating">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-star-half-alt fa side-icon"></i><span
                                        class="item-content">rating</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/select">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-mouse-pointer fa side-icon"></i><span
                                        class="item-content">select</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/sidebar">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-columns fa side-icon"></i><span class="item-content">sidebar</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/slider">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sliders-h fa side-icon"></i><span class="item-content">slider</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/smooth-scroll">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-sliders-h fa side-icon"></i><span class="item-content">smooth
                                        scroll</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/spinner">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><span class="item-content"><i
                                            class="fas fa-spinner fa-lg fa-spin mr-3"></i>spinner</span></div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/switch">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i
                                        class="fa-toggle-on fa side-icon"></i><span class="item-content">switch</span>
                                </div>
                            </li>
                        </a><a firstchild="1" popperarrow="0" href="/table">
                            <li class="sc-khAkjo dgxcKs">
                                <div class="sc-AzgDb JhijG" tabindex="0" role="button"><i class="fa fa-circle fa-1"
                                     style="color: rgb(244, 67, 54);"></i><span class="item-content">table</span></div>
                            </li>
                        </a></ul>
                </nav>
            </div>
            <div class="pro-sidebar-footer text-center">
                <div class="sidebar-btn-wrapper" style="padding: 20px 5px;">Sidebar Footer</div>
            </div>
        </div>
    </div>
</div>